@model Cafe.Web.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <div id="error"></div>
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.UserId, new { id = "UserId" })
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input id="Checkbox1" type="checkbox" /><label for="Checkbox1" id="Text"> Confirm Delete</label>
        <div class="form-actions no-color">
            <input type="submit" id="DelBtn" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<script>
    var GetId = $("#UserId").val();
    $("#Checkbox1,#Text").hide();
    debugger
    $.ajax({
        type: "POST",
        url: "/Admin/CheckDelete",
        data: {
            id: GetId
        },
        success: function (response) {

            if (response.CheckUser == false) {

                $("#error").attr('class', 'alert alert-danger text-center').text(response.text);
                $("#DelBtn").attr("disabled", true);
                $("#Checkbox1,#Text").show();
            }

            else {
                $("#error").attr('class', '').text("");
                $("#DelBtn").attr("disabled", false);
            }
        }
    })

    $("#Checkbox1").click(function () {
        debugger

        if ($(this).prop("checked") == true) {
            $("#DelBtn").attr("disabled", false);
        }
        else {
            $("#DelBtn").attr("disabled", true);
        }
    })
</script>
