@model IEnumerable<Cafe.DomainModelEntity.Table>

@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/Cashier_LayoutPage.cshtml";
}

    <head>
        <link href="~/Content/Table.css" rel="stylesheet" />
    </head>
<h2>Table</h2>

<div>
    @Html.ActionLink("Create New", "CreateTable")
</div>
<ul id="uL">
    @foreach (var item in Model)
    {
    <li id="Li">
        <h3 id="text">@Html.DisplayFor(modelItem => item.TableNo)</h3>
        <span id="text">@Html.ActionLink("Edit", "SelectedTable", new { id = item.TableId })</span> |
        <span id="text">@Html.ActionLink("Delete", "DeleteTable", new { id = item.TableId })</span>
        <div id="text">@($"{item.TotalPrice} ({item.TotalQuantity})")</div>
    </li>
    }
</ul>
