@model IEnumerable<Cafe.DomainModelEntity.OrderCart>

@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/Customer_LayoutPage.cshtml";
}
<style>
    .form-horizontal {
        background-color: lightgray;
        max-width: 70%;
        height: auto;
        padding: 10px 40px;
        min-height: 457px;
        min-width: 340px;
        box-shadow: 6px 9px #e1e1d0;
        border-radius: 25px;
    }

    .title {
        text-align: center;
        padding-bottom: 10px;
    }

    th, tr {
        padding: 25px 27px;
        font-size: 17px;
        font-weight: 900;
        /*border-bottom: 1px solid #a6a6a6;*/
    }

    .Noborder {
        border-bottom: 0px;
    }

    .Equal {
        padding: 0px 135px;
    }

    .note {
        padding-left: 85px;
    }

    .Total {
        text-align: right;
    }

    #view {
        text-align: center;
        font-size: 30px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div align="center">
        <h2>Confirm Order</h2>

        <h3>@Html.DisplayNameFor(model => model.Table.TableNo): @ViewBag.TableNo</h3>
        <div class="form-horizontal">
            <table class="table" style="width:85%;">
                <tr>

                    <th>
                        Food / Drink
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        Price Total
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categories.FoodName)
                        </td>
                        <td>
                            <span style="margin-left: 15px;">RM @Html.DisplayFor(modelItem => item.Categories.UnitPrice)</span>
                        </td>
                        <td>
                            <span style="margin-left: 30px;">@Html.DisplayFor(modelItem => item.Quantity)</span>
                        </td>
                        <td>
                            <span style="margin-left: 20px;">RM @Html.DisplayFor(modelItem => item.TotalAmount) </span>
                        </td>
                    </tr>
                }
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td><span style="margin-left: 20px;">RM @ViewBag.TotalAllPrice</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="submit" value="Pay" id="Button" class="btn btn-default" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}