@model IEnumerable<Cafe.DomainModelEntity.OrderCart>

@{
    ViewBag.Title = "ListCart";
    Layout = "~/Views/Shared/Customer_LayoutPage.cshtml";
}

<h2>Order Cart</h2>


<span style="float:right">@Html.ActionLink("Cancel Order", "ClearAllItem",null, new { @class = "btn btn-default btn-sm" ,style="margin:10px"})</span>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.FoodName)
            </td>
            <td>
                @Html.ActionLink("-", "MinusItem", new { id = item.OrdercartId }, new { type = "button", @class = "btn btn-default btn-xs" })
                @Html.DisplayFor(modelItem => item.Quantity)
                @Html.ActionLink("+", "PlusItem", new { id = item.OrdercartId }, new { type = "button", @class = "btn btn-default btn-xs" })
            </td>
            <td>
                RM @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.ActionLink("Cancel", "CancelItem", new { id = item.OrdercartId })
            </td>
        </tr>
    }

    <tr>
        <td></td>
        <td>@ViewBag.SuccessUpdate</td>
        <td style="font-weight:600">
            RM @ViewBag.TotalAll
            <p>@Html.ActionLink("Place Order", "ConfirmOrder", new { id = ViewBag.TableId } ,new { @class = "btn btn-default btn-sm",style = "font-weight:600" })</p>
        </td>
        <td></td>
    </tr>
</table>
