@model IEnumerable<Cafe.DomainModelEntity.OrderCart>

@{
    ViewBag.Title = "ListCart";
    Layout = "~/Views/Shared/Customer_LayoutPage.cshtml";
}

<h2>ListCart</h2>

<span>@Html.ActionLink("Confirm Order", "Confirm Order")</span>

<span style="float:right">@Html.ActionLink("Cancel Order", "ClearAllItem")</span>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.FoodName)
            </td>
            <td>
                @Html.ActionLink("+", "PlusItem", new { id = item.OrdercartId }, new { type = "button" })
                @Html.DisplayFor(modelItem => item.Quantity)
                @Html.ActionLink("-", "MinusItem", new { id = item.OrdercartId }, new { type = "button" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.ActionLink("Cancel", "CancelItem", new { id = item.OrdercartId })
            </td>
        </tr>
    }

    <tr>
        <td></td>
        <td>@ViewBag.SuccessUpdate</td>
        <td>@ViewBag.TotalAll</td>
        <td></td>
    </tr>
</table>
