@model IEnumerable<Cafe.DomainModelEntity.Categories>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/Customer_LayoutPage.cshtml";
}
<head>
    <link href="~/Content/Menu.css" rel="stylesheet" />
</head>
<h2 style="text-align:center">Menu</h2>
<span>Welcome Back @ViewBag.Name </span> <span style="float: right">Table No : @ViewBag.TableNo</span>

@if (Model.Count() == 0)
{
    <div>
        No Categories
    </div>
}
else
{
    <ul id="uL">
        @foreach (var item in Model)
        {
            <li id="Li">
                <div class="Img">
                    <a href="@Url.Action("AddItem", "Customers", new { id = item.CategoriesId })">
                        @{
                            var base64 = Convert.ToBase64String(item.FoodImg);
                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src="@imgsrc" style="max-width : 200px ;max-height:100px" />
                    </a>
                </div>
                <div class="Product">
                    <a href="@Url.Action("AddItem", "Customers", new { id = item.CategoriesId })" style="text-decoration:none;">
                        @Html.DisplayFor(modelItem => item.FoodName)
                    </a>
                </div>
                <div class="Price">RM @Html.DisplayFor(modelItem => item.UnitPrice)</div>
            </li>
        }
    </ul>
    <div style="margin-top:300px"></div>
}